
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-section {
  text-align: center;
  margin-bottom: 24px;
}

.profile-image {
  width: 160px;
  height: 150px;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 8px;
}

.profile-role {
  font-size: 1rem;
  color: #9ca3af;
}


.info-section {
  width: 520px;
  padding-bottom: 80px; 
}

.info-item {
  display: flex;
  border-bottom: 1px solid #e9ecef;
}

.info-label {
  min-width: 240px;
  font-weight: 500;
}

.info-value {
  color: #6c757d;
}

@media (max-width: 768px) {
  .profile-name {
    font-size: 1.4rem;
  }

  .profile-role {
    font-size: 1.05rem;
  }
}

.user-info-offcanvas {
  top: 64px !important;
  height: calc(100vh - 64px) !important;
}

.offcanvas-backdrop {
  top: 64px !important;
  height: calc(100vh - 64px) !important;
}

.user-info-offcanvas.offcanvas-end {
  width: 50vw !important;
}


@media (max-width: 768px) {

  .user-info-offcanvas.offcanvas-end {
    width: 100vw !important;
    max-width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }

  .info-section {
    width: 100%;
  }

  .info-label {
    min-width: 140px;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 80px;                
}


@media (max-width: 768px) {
  .action-buttons {
    position: sticky;
    bottom: 0;

    background: #0f1720;
    padding: 16px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;               
    z-index: 1056;
  }


  .action-buttons button {
    width: auto !important;
    flex: 0 0 auto !important;
    min-width: 140px;
  }
}
